{{!< default}}
<div class="container">
	<div class="jumbotron">
		<div class="container text-center" style="margin-top:-30px;">
			<h2>Who We Are</h2>
		</div>
		<div class="container">
		  <p><b>Veteran Ready</b> is a consulting company based in the Las Vegas, NV area. Our mission is to support Nevada businesses and non-profit agencies by providing consulting, training, and event planning services that focus on building up the veteran community. Our clients understand that veterans play an integral role in strengthening the community and that it's not just the right thing to do, it's the smart thing to do.</p>
		</div>
	</div>
</div>
<div class="container">
  <div class="col-md-5">
    <h3 class="text-center">Our Staff</h3>
		<div class="thumbnail right-caption span4">
			<img src="/images/annie.png" alt="Picture of Annie" class="img-responsive" width="160">
			<div class="caption">
        <p><b>Annie Emprima-Martin</b> is the founder and owner of <b>Veteran Ready</b>. She brings with her local job fair planning experience and veteran community involvement starting from her time as the Yellow Ribbon Reintegration Program non-commissioned officer (NCO) and Employment Coordinator for the Nevada National Guard. As the Yellow Ribbon Reintegration Program NCO, she planned events at local casinos and non-gaming facilities statewide, ranging in cost from $3,000 to over $100,000 per event. She also served as a Department of Defense contractor, building up the Hero2Hired program for Nevada and was the first Veteran Coordinator for the Workforce Training and Economic Development department at Vegas PBS. To learn more about her, email Annie@VeteranReaday.com or visit her profile on LinkedIn. </p>
      </div>
    </div>
	</div>
	<div class="col-md-5 col-md-offset-2">
    <h3 class="text-center">Community News</h3>
		<div class="thumbnail right-caption span4">
			<div class="caption">
	      <h5>The Returning Military Veteran: Is Your Organization Ready?</h5>
	      <p>Law enforcement agencies must adequately prepare for the return home of their deployed personnel.</p>
				<p>By Jeff Hink</p>
	      <p><a href="https://leb.fbi.gov/2010/august/the-returning-military-veteran-is-your-organization-ready" target="_blank" class="btn btn-primary">View this article</a></p>
	    </div>
    </div>
		<div class="thumbnail right-caption span4">
			<div class="caption">
	      <h5>New office at UNLV stands ready to serve veterans enrolled at school</h5>
	      <p>Ross Bryant’s business card is telling of the kind of outreach he is championing for active military and veteran students attending UNLV this fall.</p>
				<p>By Paul Takahashi</p>
	      <p><a target="_blank"  href="http://lasvegassun.com/news/2012/aug/03/new-office-unlv-stands-ready-serve-veterans-enroll/" class="btn btn-primary">View this article</a></p>
	    </div>
    </div>
	</div>
</div>
