{{!< default}}
<div class="container">
	<div class="jumbotron">
		<div class="container text-center" style="margin-top:-30px;">
			<h2>Veteran Events</h2>
		</div>
		<div class="container">
		  <p><b>Veteran Ready</b> helps to promote and support those who support veterans. Listed events are provided to us by community partners. Veteran Ready sponsored events and Veteran Ready clients will have the <img src="images/VRLogo_no_name.jpg" height="20px" width="21px" alt="V" style="margin-top:-5px;"> logo next to the event details. Veteran/military employment events taking place in Nevada can be added to this list by emailing details along with a pdf or jpg to admin@veteranready.com or by posting your event on our Facebook page.</p>
		</div>
	</div>
</div>
<div class="container">
	<div class="container text-center">
		<h2 style="margin-bottom:30px;">Sign up to receive the latest updates by email.</h2>
	</div>
	<div class="col-md-4 col-md-offset-1 thumbnail btn-centered" style="padding:10px 25px 20px 25px;">
    <h4><b>Vets, Guard/Reservists</b> and <b>Military Spouses</b> can sign up to receive the newsletter by clicking here:</h4>
		<a href="/contact" class="btn btn-primary btn-lg">Join Now</a>
	</div>
	<div class="col-md-4 col-md-offset-2 thumbnail btn-centered" style="padding:10px 25px 20px 25px;">
    <h4><b>Community Partners</b> and their <b>Representatives</b> can sign up to receive the newsletter by clicking here:</h4>
		<a href="/contact" class="btn btn-primary btn-lg">Join Now</a>
	</div>
</div>
<div class="container">
	<div class="jumbotron">
    <img src="/images/events1.jpg" alt="Events Calendar" class="img-responsive">
		<img src="/images/events2.jpg" alt="Events Calendar" class="img-responsive">
		<img src="/images/events3.jpg" alt="Events Calendar" class="img-responsive">
		<img src="/images/events4.jpg" alt="Events Calendar" class="img-responsive">
	</div>
</div>
