<div class="container">
	<div class="jumbotron">
		<div class="container text-center" style="margin-top:-30px;">
			<h2>Veteran Events</h2>
		</div>
		<div class="container">
		  <h4><b>Veteran Ready</b> helps to promote and support those that support veterans. Listed events are provided to us by community partners. Veteran Ready sponsored events and Veteran Ready clients will have the V logo next to the event details. Veteran/military employment events taking place in Nevada can be added to this list by emailing details along with a pdf or jpg to admin@veteranready.com or by posting your event on our Facebook page.</h4>
		</div>
	</div>
</div>
<div class="container">
	<div class="jumbotron">
    <img src="/images/events1.jpg" alt="Events Calendar" class="img-responsive">
		<img src="/images/events2.jpg" alt="Events Calendar" class="img-responsive">
		<img src="/images/events3.jpg" alt="Events Calendar" class="img-responsive">
		<img src="/images/events4.jpg" alt="Events Calendar" class="img-responsive">
	</div>
</div>
