{{!< default}}
<!--
<div class="container">
	<div class="thumbnail text-center">
	  <img src="/images/parade_rest_v2.jpg" alt="homepage_header" class="img-responsive">
	  ###  Homepage Header Text
	  <div class="caption-upper">
	    <p id="homepage-image-text">What does Veteran Ready mean?</p>
	  </div>
		<div class="caption-middle">
			<p id="homepage-image-text">There are three terms that can be used to</p>
			<p id="homepage-image-text">categorize businesses that support veterans:</p>
		</div>
		<div class="caption-lower">
			<p id="homepage-image-text">Veteran Friendly</p>
			<p id="homepage-image-text">Veteran Ready</p>
			<p id="homepage-image-text">Veteran Strong</p>
		</div>
	</div>
</div>
-->
<!-- Carousel for homepage images of flags from US Armed Services branches -->
<div class="container">
	<div id="homepageCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">

		<ol class="carousel-indicators">
			<li data-target="#homepageCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#homepageCarousel" data-slide-to="1"></li>
			<li data-target="#homepageCarousel" data-slide-to="2"></li>
			<li data-target="#homepageCarousel" data-slide-to="3"></li>
			<li data-target="#homepageCarousel" data-slide-to="4"></li>
			<li data-target="#homepageCarousel" data-slide-to="5"></li>
		</ol>

		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<img src="/images/USA_flag.png" alt="United States Flag" class="img-responsive">
			</div>

			<div class="item">
				<img src="/images/Air_Force_flag.png" alt="U.S. Air Force Flag" class="img-responsive">
			</div>

			<div class="item">
				<img src="/images/Army_flag.png" alt="U.S. Army Flag" class="img-responsive">
			</div>

			<div class="item">
				<img src="/images/Coast_Guard_flag.png" alt="U.S. Coast Guard Flag" class="img-responsive">
			</div>

			<div class="item">
				<img src="/images/Marine_Corps_flag.png" alt="U.S. Marine Corps Flag" class="img-responsive">
			</div>

			<div class="item">
				<img src="/images/Navy_flag.png" alt="U.S. Navy Flag" class="img-responsive">
			</div>
		</div>

		<a class="left carousel-control" href="#homepageCarousel" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#homepageCarousel" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</div>

<div class="container">
	<div class="jumbotron">
		<p><b>Veteran Friendly</b> businesses show support and appreciation for veterans in many different ways. This may include offering a military discount to those with an active military ID or proof of service, providing free meals to veterans on Veterans Day, participating as an employer at veteran hiring events, donating to veteran causes, or providing staff as volunteers at veteran community events.</p>
	</div>
	<div class="jumbotron">
		<p><b>Veteran Ready</b> businesses take responsible steps to support current and future veteran employees. This includes implementing an internal veteran program or participating in a centralized program, providing diversity training with respect to veterans, providing training to all HR and front-line leaders on federal and state laws protecting reserve component service members, re-evaluating onboarding methods, and actively improving attrition rates.</p>
	</div>
	<div class="jumbotron">
		<p><b>Veteran Strong</b> companies know how valuable veterans are and harness the strengths veterans bring to the workplace. These businesses go above and beyond to continuously provide management and staff, especially department front-line leaders, formal long-term training to improve job satisfaction and leadership grooming.</p>
	</div>
	<div class="jumbotron">
		<p><b>What is a Veteran?</b></p>
		<p>It may seem like a fairly straight-forward question but the definition really depends on who is asking and for what reason.</p>
    <p>Even the Department of Veterans Affairs, more commonly known as the VA, has different standards to determine veteran eligibility for the various programs and services they offer.</p>
    <p>For simplicity, we define a veteran as anyone who has ever received a DD Form 214 for service in the United States Armed Forces.</p>
	</div>
</div>
