{{!< default}}
<div class="container">
	<div class="jumbotron">
		<div class="container text-center" style="margin-top:-30px;">
			<h2>Mentorship</h2>
		</div>
		<div class="container">
		  <p><b>Veteran Ready</b> is seeking partners and sponsors to support a statewide veteran mentorship program.  This program would be available to all interested veterans, regardless of war era and situation, and would allow veteran mentors and apprentices to be paired for 12 months at a time.  At the end of the 12 month period, veteran apprentices would need to choose another mentor based on evolved interests.  This system allows for veterans to have continuous support as they build up skills and networking circles specific to their situational needs.</p>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="text-center"><b>I would like to be a Mentor</b></h4>
				</div>
				<div class="panel-body text-center">
					<label>Please select the relevant options from the dropdown menus below.</label>
					<div class="text-center" style="margin-top:10px;">
	          <div class="btn-group-vertical">
							<div class="btn-group">
							  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    Gender <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu">
							    <li><a href="#">Female</a></li>
							    <li><a href="#">Male</a></li>
									<li><a href="#">Not Specified</a></li>
							  </ul>
							</div>
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Most Recent Service Decade <span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="#">1940s</a></li>
									<li><a href="#">1950s</a></li>
									<li><a href="#">1960s</a></li>
									<li><a href="#">1970s</a></li>
									<li><a href="#">1980s</a></li>
									<li><a href="#">1990s</a></li>
									<li><a href="#">2000s</a></li>
									<li><a href="#">2010s</a></li>
								</ul>
							</div>
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Nevada County of Residence <span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="#">Carson City</a></li>
									<li><a href="#">Churchill</a></li>
									<li><a href="#">Clark</a></li>
									<li><a href="#">Douglas</a></li>
									<li><a href="#">Elko</a></li>
									<li><a href="#">Esmeralda</a></li>
									<li><a href="#">Eureka</a></li>
									<li><a href="#">Humboldt</a></li>
									<li><a href="#">Lander</a></li>
									<li><a href="#">Lincoln</a></li>
									<li><a href="#">Lyon</a></li>
									<li><a href="#">Mineral</a></li>
									<li><a href="#">Nye</a></li>
									<li><a href="#">Pershing</a></li>
									<li><a href="#">Storey</a></li>
									<li><a href="#">Washoe</a></li>
									<li><a href="#">White Pine</a></li>
								</ul>
							</div>
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Field of Expertise <span class="caret"></span>
								</button>
                <ul class="dropdown-menu">
									<li><a href="#">New to the area/transitioning from active duty</a></li>
									<li><a href="#">Social Connections and Team Activities</a></li>
									<li><a href="#">Business Skills and Career Advancement</a></li>
									<li><a href="#">Homelessness/Depression</a></li>
									<li><a href="#">Women Veterans</a></li>
									<li><a href="#">Something Else</a></li>
								</ul>
							</div>
						</div>
						<div class="form-group {{#if validationErrors.message}}has-error{{/if}} " style="margin-top:15px;">
							<label>Please include any additional information, comments or questions below.</label>
							<textarea name="message" placeholder="Tell us more about what you have to offer..." rows="4" class="form-control">{{formData.message}}</textarea>
						</div>
						<div class="text-center form-actions" style="margin-top:15px;">
							<a href="/contact"><button type="submit" class="btn btn-primary">Search Opportunities</button></a>
						</div>
					</div>
				</div>
			</div>
		</div>
    <div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="text-center"><b>I would like to be an Apprentice</b></h4>
				</div>
				<div class="panel-body text-center">
					<label>Please select the relevant options from the dropdown menus below.</label>
					<div class="text-center" style="margin-top:10px;">
	          <div class="btn-group-vertical">
							<div class="btn-group">
							  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    Gender <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu">
							    <li><a href="#">Female</a></li>
							    <li><a href="#">Male</a></li>
									<li><a href="#">Not Specified</a></li>
							  </ul>
							</div>
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Most Recent Service Decade <span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="#">1940s</a></li>
									<li><a href="#">1950s</a></li>
									<li><a href="#">1960s</a></li>
									<li><a href="#">1970s</a></li>
									<li><a href="#">1980s</a></li>
									<li><a href="#">1990s</a></li>
									<li><a href="#">2000s</a></li>
									<li><a href="#">2010s</a></li>
								</ul>
							</div>
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Nevada County of Residence <span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="#">Carson City</a></li>
									<li><a href="#">Churchill</a></li>
									<li><a href="#">Clark</a></li>
									<li><a href="#">Douglas</a></li>
									<li><a href="#">Elko</a></li>
									<li><a href="#">Esmeralda</a></li>
									<li><a href="#">Eureka</a></li>
									<li><a href="#">Humboldt</a></li>
									<li><a href="#">Lander</a></li>
									<li><a href="#">Lincoln</a></li>
									<li><a href="#">Lyon</a></li>
									<li><a href="#">Mineral</a></li>
									<li><a href="#">Nye</a></li>
									<li><a href="#">Pershing</a></li>
									<li><a href="#">Storey</a></li>
									<li><a href="#">Washoe</a></li>
									<li><a href="#">White Pine</a></li>
								</ul>
							</div>
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Field of Study <span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="#">New to the area/transitioning from active duty</a></li>
									<li><a href="#">Social Connections and Team Activities</a></li>
									<li><a href="#">Business Skills and Career Advancement</a></li>
									<li><a href="#">Homelessness/Depression</a></li>
									<li><a href="#">Women Veterans</a></li>
									<li><a href="#">Something Else</a></li>
								</ul>
							</div>
						</div>
						<div class="form-group {{#if validationErrors.message}}has-error{{/if}} " style="margin-top:15px;">
							<label>Please include any additional information, comments or questions below.</label>
							<textarea name="message" placeholder="Tell us more about what you are looking for..." rows="4" class="form-control">{{formData.message}}</textarea>
						</div>
						<div class="text-center form-actions" style="margin-top:15px;">
							<a href="/contact"><button type="submit" class="btn btn-primary">Search Opportunities</button></a>
						</div>
					</div>
				</div>
			</div>
		</div>
  </div>
</div>
