{{!< default}}
<div class="container">
	<div class="jumbotron">
		<div class="container text-center" style="margin-top:-30px;">
			<h2>Veteran Resources</h2>
		</div>
		<div class="container">
			<p><b>Veteran Ready</b> partners with other organizations that assist veterans. This page provides a directory of agencies, their representatives, and the services they offer. You can browse the topics listed or you can customize your search to find something more specific.</p>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="text-center"><b>Agencies</b></h4>
				</div>
				<div class="panel-body">
					<p>A brief description, examples, and maybe a photo.</p>
					<a href="#" class="btn btn-primary btn-block">View All Agencies</a>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="text-center"><b>Representatives</b></h4>
				</div>
				<div class="panel-body">
					<p>A brief description, examples, and maybe a photo.</p>
					<a href="#" class="btn btn-primary btn-block">View All Representatives</a>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="text-center"><b>Services</b></h4>
				</div>
				<div class="panel-body">
					<p>A brief description, examples, and maybe a photo.</p>
					<a href="#" class="btn btn-primary btn-block">View All Services</a>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="text-center"><b>Topics</b></h4>
				</div>
				<div class="panel-body">
					<p>A brief description, examples, and maybe a photo.</p>
					<a href="#" class="btn btn-primary btn-block">View All Topics</a>
				</div>
			</div>
		</div>
	</div>
</div>
