{{!< default}}
<div class="container">
	<div class="jumbotron">
		<div class="container text-center" style="margin-top:-30px;">
			<h2>Veteran Resources</h2>
		</div>
		<div class="container">
			<p><b>Veteran Ready</b> partners with other organizations that assist veterans. This page provides a directory of agencies, their representatives, and the services they offer. You can browse the topics listed or you can customize your search to find something more specific.</p>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="text-center"><b>Community Partners</b></h4>
				</div>
				<div class="panel-body">
					<img src="/images/american_flag.jpg" class="img-responsive" alt="American Flag">
					<p style="margin-top:57px;">A brief description, examples, and maybe a photo.</p>
					<button type="button" id="allAgencies" class="btn btn-primary btn-block">View All</button>
					<div id="allAgenciesResults"></div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="text-center"><b>Faces in the Community</b></h4>
				</div>
				<div class="panel-body">
					<img src="/images/joe_heck2.jpg" class="img-responsive" alt="Joe Heck">
					<p style="margin-top:3px;">A brief description, examples, and maybe a photo.</p>
					<button type="button" id="allRepresentatives" class="btn btn-primary btn-block">View All</button>
					<div id="allRepresentativesResults"></div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="text-center"><b>Services</b></h4>
				</div>
				<div class="panel-body">
					<img src="/images/business_presentation.jpg" class="img-responsive" alt="Business Presentation">
					<p style="margin-top:91px;">A brief description, examples, and maybe a photo.</p>
					<button type="button" id="allServices" class="btn btn-primary btn-block">View All</button>
					<div id="allServicesResults"></div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="text-center"><b>Topics</b></h4>
				</div>
				<div class="panel-body">
					<img src="/images/topic_map.png" class="img-responsive" alt="Topic Map">
					<p style="margin-top:56px;">A brief description, examples, and maybe a photo.</p>
					<button type="button" id="allTopics" class="btn btn-primary btn-block">View All</button>
					<div id="allTopicsResults"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="text-center"><b>Custom Search</b></h4>
				</div>
				<div class="panel-body">
					<p>Please select the relevant options from the dropdown menus below. Your information will not be saved, stored, or shared.</p>
				</div>
				<div class="text-center" style="margin-bottom:12px;">
          <p style="margin-bottom:0px;"><label for="gender">Gender:</label></p>
	        <select id="gender" multiple=True>
						<option value="female">Female</option>
						<option value="male">Male</option>
					</select>
				</div>
				<div id="genderResults" style="margin-bottom:10px;"></div>
				<div class="text-center" style="margin-bottom:12px;">
					<p style="margin-bottom:0px;"><label for="serviceDecade">Service Decade:</label></p>
					<select id="serviceDecade" multiple=True>
						<option value="1950s">1950s</option>
						<option value="1960s">1960s</option>
						<option value="1970s">1970s</option>
						<option value="1980s">1980s</option>
						<option value="1990s">1990s</option>
						<option value="2000s">2000s</option>
						<option value="2010s">2010s</option>
					</select>
				</div>
				<div id="serviceDecadeResults" style="margin-bottom:10px;"></div>
				<div class="text-center" style="margin-bottom:12px;">
					<p style="margin-bottom:0px;"><label for="county">Nevada County of Residence:</label></p>
					<select id="county" multiple=True>
						<option value="carsonCity">Carson City</option>
						<option value="churchill">Churchill</option>
						<option value="clark">Clark</option>
						<option value="douglas">Douglas</option>
						<option value="elko">Elko</option>
						<option value="esmeralda">Esmeralda</option>
						<option value="eureka">Eureka</option>
						<option value="humboldt">Humboldt</option>
						<option value="lander">Lander</option>
						<option value="lincoln">Lincoln</option>
						<option value="lyon">Lyon</option>
						<option value="mineral">Mineral</option>
						<option value="nye">Nye</option>
						<option value="pershing">Pershing</option>
						<option value="storey">Storey</option>
						<option value="washoe">Washoe</option>
						<option value="whitePine">White Pine</option>
					</select>
				</div>
				<div id="countyResults" style="margin-bottom:10px;"></div>
	      <div class="text-center" style="margin-bottom:12px;">
	        <p style="margin-bottom:0px;"><label for="topic">Topic of Interest:</label></p>
	        <select id="topic" multiple=True>
	          <option value="education">Education</option>
	          <option value="employment">Employment</option>
	          <option value="healthAndWelfare">Health and Welfare</option>
	          <option value="housing">Housing</option>
	        </select>
	      </div>
	      <div id="topicResults" style="margin-bottom:10px;"></div>
				<div class="text-center" style="margin-top:15px;">
					<button type="button" id="customSearch" class="btn btn-primary btn-block">View All</button>
					<div id="customSearchResults"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="/js/jquery/jquery-1.11.3.min.js"></script>
<script>

	$("#allAgencies").click(function(){
		$("#allAgenciesResults").html("All Agencies Query Selected")
	});

	$("#allRepresentatives").click(function(){
		$("#allRepresentativesResults").html("All Representatives Query Selected")
	});

	$("#allServices").click(function(){
		$("#allServicesResults").html("All Services Query Selected")
	});

	$("#allTopics").click(function(){
		$("#allTopicsResults").html("All Topics Query Selected")
	});

	$("#customSearch").click(function(){
		$("#customSearchResults").html("Custom Search Selected")
	});

  $("#gender").on("change", function(){
    var selected = $(this).val();
    $("#genderResults").html("You selected: " + selected);
  });

	$("#serviceDecade").on("change", function(){
		var selected = $(this).val();
		$("#serviceDecadeResults").html("You selected: " + selected);
	});

	$("#county").on("change", function(){
		var selected = $(this).val();
		$("#countyResults").html("You selected: " + selected);
	});

	$("#topic").on("change", function(){
		var selected = $(this).val();
		$("#topicResults").html("You selected: " + selected);
	});
</script>

<!-- Layout with different input styles: buttons, checkboxes, etc.
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="text-center"><b>Custom Search</b></h4>
				</div>
				<div class="panel-body">
					<p>Please select the relevant options from the dropdown menus below. Your information will not be saved, stored, or shared.</p>
					<div class="text-center">
						<div class="btn-group-vertical">
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Gender <span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><input type="radio" value="female">  Female</input></li>
									<li><input type="radio" value="male">  Male</input></li>
									<li><input type="submit" value="Submit"></input></li>
								</ul>
							</div>
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Most Recent Service Decade <span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><input type="button" value="1940s"></input></li>
									<li><input type="button" value="1950s"></input></li>
									<li><input type="button" value="1960s"></input></li>
									<li><input type="button" value="1970s"></input></li>
									<li><input type="button" value="1980s"></input></li>
									<li><input type="button" value="1990s"></input></li>
									<li><input type="button" value="2000s"></input></li>
									<li><input type="button" value="2010s"></input></li>
								</ul>
							</div>
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Nevada County of Residence <span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><input type="checkbox" value="carsonCity">  Carson City</input></li>
									<li><input type="checkbox" value="churchill">  Churchill</input></li>
									<li><input type="checkbox" value="clark">  Clark</input></li>
									<li><input type="checkbox" value="douglas">  Douglas</input></li>
									<li><input type="checkbox" value="elko">  Elko</input></li>
									<li><input type="checkbox" value="esmeralda">  Esmeralda</input></li>
									<li><input type="checkbox" value="eureka">  Eureka</input></li>
									<li><input type="checkbox" value="humboldt">  Humboldt</input></li>
									<li><input type="checkbox" value="lander">  Lander</input></li>
									<li><input type="checkbox" value="lincoln">  Lincoln</input></li>
									<li><input type="checkbox" value="lyon">  Lyon</input></li>
									<li><input type="checkbox" value="mineral">  Mineral</input></li>
									<li><input type="checkbox" value="nye">  Nye</input></li>
									<li><input type="checkbox" value="pershing">  Pershing</input></li>
									<li><input type="checkbox" value="storey">  Storey</input></li>
									<li><input type="checkbox" value="washoe">  Washoe</input></li>
									<li><input type="checkbox" value="whitePine">  White Pine</input></li>
								</ul>
							</div>
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Topic of Interest <span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li class="clickable" id="all"><a href="#">All</a></li>
									<li><a href="#">Education</a></li>
									<li><a href="#">Employment</a></li>
									<li><a href="#">Health and Welfare</a></li>
									<li><a href="#">Housing</a></li>
								</ul>
							</div>
						</div>
            <div>
              <label for="topic">Topic of Interest</label>
              <select id="topic">
                <option value="">Please select</option>
                <option value="all">All</option>
                <option value="education">Education</option>
                <option value="employment">Employment</option>
                <option value="healthAndWelfare">Health and Welfare</option>
                <option value="housing">Housing</option>
              </select>
            </div>
            <div id="topicResults"></div>
						<div class="text-center" style="margin-top:15px;">
							<a href="#" class="btn btn-primary btn-block">Custom Search</a>
						</div>
					</div>
				</div>
			</div>
		</div>
  </div>
</div>

<script src="/js/jquery/jquery-1.11.3.min.js"></script>
<script>
  $("#topic").on("change", function(){
    var selected = $(this).val();
    $("#topicResults").html("You selected: " + selected);
  })
</script>
-->


<!-- Layout with the pretty dropdown menus and text boxes

						<div class="btn-group-vertical">
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Gender <span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="#">Female</a></li>
									<li><a href="#">Male</a></li>
								</ul>
							</div>
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Most Recent Service Decade <span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="#">1940s</a></li>
									<li><a href="#">1950s</a></li>
									<li><a href="#">1960s</a></li>
									<li><a href="#">1970s</a></li>
									<li><a href="#">1980s</a></li>
									<li><a href="#">1990s</a></li>
									<li><a href="#">2000s</a></li>
									<li><a href="#">2010s</a></li>
								</ul>
							</div>
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Nevada County of Residence <span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="#">Carson City</a></li>
									<li><a href="#">Churchill</a></li>
									<li><a href="#">Clark</a></li>
									<li><a href="#">Douglas</a></li>
									<li><a href="#">Elko</a></li>
									<li><a href="#">Esmeralda</a></li>
									<li><a href="#">Eureka</a></li>
									<li><a href="#">Humboldt</a></li>
									<li><a href="#">Lander</a></li>
									<li><a href="#">Lincoln</a></li>
									<li><a href="#">Lyon</a></li>
									<li><a href="#">Mineral</a></li>
									<li><a href="#">Nye</a></li>
									<li><a href="#">Pershing</a></li>
									<li><a href="#">Storey</a></li>
									<li><a href="#">Washoe</a></li>
									<li><a href="#">White Pine</a></li>
								</ul>
							</div>
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Topic of Interest <span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li class="clickable" id="all"><a href="#">All</a></li>
									<li><a href="#">Education</a></li>
									<li><a href="#">Employment</a></li>
									<li><a href="#">Health and Welfare</a></li>
									<li><a href="#">Housing</a></li>
								</ul>
							</div>
						</div>
-->


<!--  Experiments with the options on the dropdown menus

							<div class="field">
								<label>Topic of Interest</label><br />
								<select name="topicOfInterest" id="topicOfInterest">
									<option value="">Select one</option>
									<option value="searchAll()">All</option>
									<option value="searchEducation()">Education</option>
									<option value="searchEmployment()">Employment</option>
									<option value="searchHealthAndWelfare()">Health and Welfare</option>
									<option value="searchHousing()">Housing</option>
								</select>
							</div>

							<div class="field">
								<label>Nevada County of Residence</label><br />
								<select name="category[id]" id="category_id">
									<option value="Clark">Clark</option>
									<option value="Nye">Nye</option>
									<option value="Lincoln">Lincoln</option>
								</select>
							</div>

							<div>
								<form>
									<p><b>Nevada County of Residence</b>
										<select onchange="window.open(this.value,'','');">
										<select>
											<option value="">Select one</option>
											<option value="myFunction1()">Clark</option>
											<option value="myFunction2()">Nye</option>
											<option value="myFunction3()">Lincoln</option>
										</select>
									</p>
								</form>
							</div>


// Below is from https://www.sitepoint.com/community/t/display-other-data-based-on-dropdown-selection/37679/6

<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dropdown example</title>
  </head>

  <body>

    <div>
      <label for="topicOfInterest">Topic of Interest</label>
      <select id="topicOfInterest">
        <option value="">Please select</option>
        <option value="all">All</option>
        <option value="education">Education</option>
        <option value="employment">Employment</option>
        <option value="healthAndWelfare">Health and Welfare</option>
        <option value="housing">Housing</option>
      </select>
    </div>

    <div id="results"></div>

 // <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/js/jquery/jquery-1.11.3.min.js"></script>
    <script>
      $("#topicOfInterest").on("change", function(){
        var selected = $(this).val();
        $("#results").html("You selected: " + selected);
      })
    </script>

  </body>
</html>

							<div>
							  <label for="topicOfInterest">Topic of Interest</label>
								<select id="topicOfInterest">
								  <option value="">Please select</option>
									<option value="all">All</option>
									<option value="education">Education</option>
									<option value="employment">Employment</option>
									<option value="healthAndWelfare">Health and Welfare</option>
									<option value="housing">Housing</option>
							  </select>
							</div>

							<div id="results"></div>

							<script src="/js/jquery/jquery-1.11.3.min.js"></script>
							<script>
								function makeAjaxRequest(options) {
								  $.ajax({
									  type: "POST",
										data: { options: options },
										url: "process_ajax.php",
										success: function(response) {
										  $("#results").html("<p>$_POST contained: " + response +  "</p>");
									  }
								  });
							  }

							  $(document).ready(function() {
								  $("topicOfInterest").on("change", function() {
									  var selected = $(this).value();
										// $("#results").html("You selected: " + selected);
										makeAjaxRequest(selected);
								  })
								});
						  </script>

process_ajax.php:
		<?php
			// Database logic here
			echo '<pre>';
			print_r($_POST);
		  echo '</pre>';
		?>
-->
