{{!< default}}
<div class="container">
	<div class="jumbotron">
		<div class="container text-center" style="margin-top:-30px;">
			<h2>Veteran Resources</h2>
		</div>
		<div class="container">
		  <p><b>Veteran Ready</b> partners with other organizations that assist veterans. This page provides a directory of agencies, their representatives, and the services they offer. You can browse the topics listed or you can customize your search to find something more specific.</p>
		</div>
	</div>
</div>
