{{!< default}}
<div class="container">
	<div class="jumbotron">
		<div class="container text-center" style="margin-top:-35px; margin-bottom:-30px">
			<h2 style="text-align:center;">Services We Offer</h2>
		</div>
	</div>
</div>
<div class="container">
  <div class="col-md-4">
    <h3 class="text-center">Veteran Non-Profit Services</h3>
    <div class="jumbotron" style="padding:15px; margin-top:56px;">
			<img src="/images/ribbon_cutting.jpg" class="img-responsive" alt="Opening Ceremony" style="margin-top:10px; margin-bottom:20px;">
      <div class="caption" style="margin-bottom:42px;">
        <p>Veteran Ready provides non-profit consulting, program development, and marketing support for projects and events specific to the veteran population in Nevada. We bring together commmunity partners and encourage collaboration between different parties. We also provide contract services for organizations wishing to maintain continuity during position vacancies. We work with 501(c)3 organizations and can attend hiring, training, and networking events on behalf of the organization to continue branding efforts. In other words, we keep the seat warm until the right person is hired.</p>
      </div>
      <a href="/contact" class="btn btn-primary btn-lg btn-block">Learn More</a>
    </div>
  </div>
  <div class="col-md-4">
    <h3 class="text-center">Onboarding and Retention Training</h3>
    <div class="jumbotron" style="padding:15px; margin-top:30px;">
      <div class="caption">
        <p>Veteran Ready's team of skilled professional veterans have a solid understanding of Nevada employment culture.  We not only know the difference between Veteran Friendly and Veteran Ready...we defined it!  We can help you execute veteran hiring events and train your staff on militay culture and strengths. We provide diversity training specific to military and reserve component culture and work with state and Department of Defense agencies to bring knowledge to HR and front-line leaders. Have an employee getting ready to deploy?  Starting in 2016, Veteran Ready will be providing monthly lunch sessions to cover topics such as USERRA, FMLA, ESGR, what to expect the months leading up to the deployment, how to stay in contact with the unit during the deployment, and what to expect from your employee 0-6 months post-deployment.</p>
      </div>
      <a href="/contact" class="btn btn-primary btn-lg btn-block">Learn More</a>
    </div>
  </div>
  <div class="col-md-4">
    <h3 class="text-center">Employment Event Planning</h3>
    <div class="jumbotron" style="padding:15px; margin-top:56px;">
			<img src="/images/conference.jpg" class="img-responsive" alt="Conference" style="margin-top:10px; margin-bottom:20px;">
      <div class="caption">
        <p>Veteran Ready conducts semi-annual hiring events each year in Las Vegas, one in March and one in September. In addition to hiring events, Veteran Ready can consult and support other veteran events throughout the year to include veteran summits, trainings or workshops, networking socials, and veteran awards ceremonies.</p>
      </div>
			<img src="/images/campus.jpg" class="img-responsive" alt="Networking" style="margin-top:10px; margin-bottom:53px;">
      <a href="/contact" class="btn btn-primary btn-lg btn-block">Learn More</a>
    </div>
  </div>
</div>
