{{!< default}}
<div class="container">
  <div class="jumbotron">
    <div class="container text-center" style="margin-top:-35px; margin-bottom:-30px">
			<h2 style="text-align:center;">Veteran Owned Businesses (VOBs)</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="jumbotron">
    <div class="container" style="margin-top:-35px; margin-bottom:-25px;">
      <h2 class="text-center">VOB Events</h2>
      <p>Veteran Ready will be launching a VOB Expo in 2016 for veteran-owned businesses to showcase and highlight their products or services. To be an exhibitor at this event you must meet at least one of the requirements below:
        <ul style="font-size:1.4em; margin-right:20px;">
          <li>You are a veteran and own at least 25% of your company.</li>
          <li>You are a veteran in an executive position (the face of the company such as CEO).</li>
          <li>You are not a veteran but you employ more than 25% of your workforce with veterans, guard or reservists, and military spouses.</li>
        </ul>
      </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="jumbotron">
    <div class="container" style="margin-top:-35px; margin-bottom:20px;">
      <h2 class="text-center">Faces in the Community</h2>
      <p>Veteran Ready wants to highlight and promote VOBs, and we want you to join us! Send us your headshot, any military background you would like to share (rank, branch, places you've been), your email adddress (this will be masked and forwarded to you), your company website and a description of what your company does. We will assist in promoting and marketing the first six companies to respond...at no cost to you!
      </p>
    </div>
    <div class="text-center">
      <a href="/contact" class="btn btn-center btn-primary btn-lg">Learn More</a>
    </div>
  </div>
</div>
