/* Font style - Hind */

p {
	font-family: 'Hind';
}
/* Custom styles for all pages*/

.jumbotron {
  background-color: #f5f5f5;
}


h1, h2, h3, h4, b  {
  color: #003057;
}

b:hover {
	color: #666633;
	/* color: #695b24; */
}

/* Custom styles for the Homepage */

.thumbnail {
  position: relative;
}

.caption-upper {
  position: absolute;
  top: 10%;
  left: 22.5%;
  width: 100%;
}

.caption-middle {
  position: absolute;
  right: 15%;
  bottom: 35%;
  width: 100%;
}

.caption-lower {
  position: absolute;
  right: 15%;
  bottom: 10%;
  width: 100%;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

.carousel.carousel-fade .item {
	transition: opacity 0.5s ease-in-out;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	opacity:0;
}

.carousel.carousel-fade .active.item {
	opacity:1;
}

.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
	left: 0;
	z-index: 2;
	opacity: 0;
	filter: alpha(opacity=0);
}

.carousel.carousel-fade .next,
.carousel.carousel-fade .prev {
	left: 0;
	z-index: 1;
}

.carousel.carousel-fade .carousel-control {
	z-index: 3;
}

/* Allows for carousel side controls to be hidden */

.carousel .carousel-control { visibility: hidden; }
.carousel:hover .carousel-control { visibility: hidden; }

/* Custom styles for the About page */

.thumbnail.right-caption > img {
    float: left;
    margin-right: 9px;
}

.thumbnail.right-caption {
    float: left;
}

.thumbnail.right-caption > .caption {
    padding: 4px;
}

/* Custom styles for Events page */

.btn-centered {
  text-align: center;
  display: block;
}

.responsiveIframe {
position: relative;
padding-bottom: 65.25%;
padding-top: 30px;
height: 0;
overflow: auto;
/* -webkit-overflow-scrolling: touch; */
/* border: solid black 1px; */
}

.responsiveIframe iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
padding-top: 1%;
}

/* Partners (Agency) page also uses .responsiveIframe class for videos */

/* jQuery Carousel styling 

body {
	background: EEE7D5;
	font-family: 'Libre Baskerville';
}

#speakerbox {
	width: 300px;
	margin: 0 auto;
	background: #93A1A1;
	padding: 1px 20px;
	border-radius: 10px;
	overflow: hidden;
}

#speakerbox h3, #speakerbox h4 {
	font-weight: normal;
	margin: 0;
	padding: 0;
}

#speakerbox h3 {
	font-size: 2em;
	line-height: .9em;
	font-family: 'Wendy One';
	color: #115F79;
}

#speakerbox h4 {
	color: #973C26;
	font-weight: bold;
	margin-bottom: 5px;
	line-height: 1.2em;
}

#speakerbox img {
	float: right;
	margin-left: 10px;
	border-radius: 10px;
	width: 100px;
}

#speakerbox p {
	color: #1E3A40;
	font-size: .9em;
}

#speakerbox #next_btn, #speakerbox #prev_btn {
	background: #d33682;
	padding: 5px 10px;
	border-radius: 10px;
	margin: 10px 0;
	display: inline-block;
}

#speakerbox a#next_btn, #speakerbox a#prev_btn {
	text-decoration: none;
	color: #FFF;
}

*/
