/* Custom Styles for the Homepage */

.thumbnail {
  position: relative;
}

.caption-upper {
  position: absolute;
  top: 10%;
  left: 22.5%;
  width: 100%;
}

.caption-middle {
  position: absolute;
  right: 15%;
  bottom: 35%;
  width: 100%;
}

.caption-lower {
  position: absolute;
  right: 15%;
  bottom: 10%;
  width: 100%;
}

#homepage-image-text {
  font-size: 2.5vw;
  margin: 0px;
  padding: 0px;
  color: #000000;
}


/* Custom styles for the About page */

.thumbnail.right-caption > img {
    float: left;
    margin-right: 9px;
}

.thumbnail.right-caption {
    float: left;
}

.thumbnail.right-caption > .caption {
    padding: 4px;
}
